

.fa-btn {
    margin-right: 6px;
}

.namecolor{
    color:white;
}
body#home {

    background-color:#D0EAFF;

    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
body#social{
    background-color:#D0EAFF;

    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;

}
body#postedit{
    background-image: url('../../../uploads/rain.jpg');
    background-size: 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;

}

.editspace{
    padding-left: 3px;
    padding-right: 3px;
}


.coverphoto{
    padding-bottom: 15px;
}

.profilespace{
    padding-left: 3px;
    padding-right: 3px;

}

body#guestprofile {

    background-color: #D0EAFF;
    background-size: 100%;
    background-repeat:no-repeat;


}
.guestspace{
    padding-left: 3px;
    padding-right: 3px;
}
.guest_font_color{
    color:#f9f9f9;
}
body#guesttimeline {

    background-color:#D0EAFF;

    background-size: 100%;
    background-attachment:fixed;
}



#panel_body{

    background-color:#A5D1F3;
}
#panel_heading{
    background-color:#003366;

}
#panel_footer{
    background-color:#003366;

}
#comment_btn{
    background-color:#003366;

}
.fadding-photo:hover { opacity:0.6;}

.menu_bar{
    background-color:#003264;
}
.guest_footer{
    background-color:#cd0a0a;

}
.guest_heading{
    background-color:#cd0a0a;

}
.guest_body{
    background-color:#A5D1F3 ;

}
body#index{

    background-size: 100%;
    background-repeat:no-repeat;

    background-image: url('/uploads/rain.jpg');
}
.up{
    margin-top: 35%;
}
h3{
    color: #0760B3;
    padding-left: 40%;
}
h4{
    color:#f9f9f9;
    padding-left: 40%;
}

.div-bg{

    height:10%;
    margin-left: 40%;

}
.box{

    opacity: 0.6;
}

.space_from_nav{
    padding-top:65px;
}
.reset{
    padding-top:10%;

}

.more-text{
    display:none;
}
#less{display:none;}

body#register {
    background-image: url('/uploads/rain.jpg');
    background-size: 100%;
    background-repeat:no-repeat;
}
.register_space{
    padding-top: 10%;
}


#frmCheckPassword {padding:10px;}
.demoInputBox{padding:7px;  border-radius:4px;}
#password-strength-status {padding: 5px 10px;color: #FFFFFF; border-radius:4px;margin-top:5px;}
.medium-password{background-color: #E4DB11;border:#BBB418 1px solid;}
.weak-password{background-color: #FF6600;border:#AA4502 1px solid;}
.strong-password{background-color: #12CC1A;border:#0FA015 1px solid;}

body#login {
    background-size: 100%;
    background-repeat:no-repeat;
    background-image: url('/uploads/rain.jpg');
}
.login_space{
    padding-top: 12%;
}
sgadaa