body{
    background-color: #1b6d85;
}
.entryfont{
    color:#add8e6;

}

.color{
    background-color:#c9302c;
}
.wellcolor{
    background-color: #66afe9;
}

.bgcolor{
    background-color: #778899;
}
.statuscolor{
    background-color: #afd9ee;
}